@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

.custom-delay {
  animation-delay: -50s;
}
.custom-delay-extend {
  animation-delay: -25s;
}
